:root {
    --blue: #0000ff;
    --lightblue: #7070ff;
    --black:  #000000;
    --white: #ffffff;
    --beige: #79753c;
}

* {
    font-family: "M PLUS Rounded 1c", serif;
}

hr {
    width: 100%;
    margin: 0;
    border: 1px solid var(--lightblue);
}

body {
    margin: 0;
    box-sizing: border-box;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

nav {
    background-color: var(--lightblue);
    position: sticky;
    top: 0;
}

.headerH1 {
    margin-top: 0px;
}

.blueH2 {
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: var(--lightblue);
} 

.grid50 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
}

.grid502525 {
    margin:0px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 5%;
    align-items: center;
    padding: 50px 20px;
}

.grid252550 {
    display: grid;
    padding: 50px 20px;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 5%;
    align-items: center;
    
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
}

.center {
    align-items: center;
    margin: auto;
}

.flexSpaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    text-align: center;
}

.alignCenter {
    text-align: center;
}

.heroSection {
    background-image: url(images/irina-iriser-2Y4dE8sdhlc-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    text-align: center;
    align-content: center;
    height: 100vh;
    padding: 0;
}

.heroSection h1 {
    color: white;
    font-size: 7vw;
}

.heroSection h3 {
    color: white;
    font-size: 5vw;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

li {
    padding: 10px 20px 10px 10px;
    margin: auto;
}

li a {
    cursor: pointer;
    text-decoration: none;
    color: var(--black);
}

button {
    padding: 10px;
}

.buttonMain {
    background-color: var(--blue);
    color: var(--white);
    border: 2px solid var(--blue);
}

.buttonMain:hover {
    background-color: var(--lightblue);
    border: 2px solid var(--lightblue);
}

.buttonSecondary {
    background-color: var(--white);
    color: var(--blue);
    border: 2px solid var(--blue);
}

.buttonSecondary:hover {
    background-color: var(--lightblue);
    color: var(--white);
}


.card {
    background-color: var(--white);
    box-shadow: 0 5px 10px rgba(72, 72, 72, 0.8), 0 15px 40px rgba(86, 86, 86, 0.2);
    min-height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card h1 {
    height: 25px;
}

.card p {
    height: 125px;
}

.cardImg {
    width:100%;
    height: 150px;
    margin: 0;
    object-fit: cover;
}

.largeImg {
    width:100%;
    height: 400px;
    margin: 0;
    object-fit: cover;
}

.textLeft {
    text-align: left;
    padding: 30px;
}

.bildeDiv {
    background-color: var(--black);
}

.bildeDivText {
    text-align: left;
    width: 50%;
    padding: 50px 0px 50px 150px;
}

.bildeDiv h1 {
    font-size: 3vw;
    color: white;
}

.faqDiv {
    width: 50%;
    margin: auto;
}

.faqQuestion {
    padding: 0px 10px;
    border: 2px solid black;
    background-color: var(--lightblue);
}

.faqHeader {
    color: var(--black);
}

.faqButton {
    background-color: var(--blue);
    width: 30px;
    height: 30px;
    padding: 0px;
}

.faqSvar {
    color: var(--white);
    text-align: center;
    background-color: var(--lightblue);
    margin-top: 0;
}

.faqSvar p {
    margin-top: 0;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
}


footer {
    text-align: center;
    background-color: var(--beige);
    margin: 0;
    padding: 50px;
}

@media (max-width:800px) {
    .grid50 {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 4fr;
    }
    .grid252550 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .grid252550 card {
width: 85%;
    }

    .grid502525 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

@media (min-width:1441px) {
    .grid50 {
        width: 65%;
        margin: auto;
    }
    .grid252550 {
        width: 65%;
        margin: auto;
    }
    .grid502525 {
        width: 65%;
        margin: auto;
    }
}